/* Definiert die Breite und anzuzeigende Blockeigenschaften für Formularelemente */

html, body {
    width: 100%;
    height: 100%;
    max-width: max-content;
    margin: auto;
    text-align: center;
}

select{
    width: 95%;
    background-color: antiquewhite;
}

input{
    width: 95%;
    background-color: antiquewhite;
    text-align: center;
}

.general_info {
    width: 24%;
    horiz-align: center;
    text-align: left;
    display: inline-block;
}

.triple_element {
    width: 33%;
    horiz-align: center;
    vertical-align: top;
    text-align: left;
    display: inline-block;
    line-height: 25px;
}

.attr_content, .attr_name, .attr_corner, .result_attr{
    width: 12.8%;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    border: 2px solid black;
}

label.attr_content, label.attr_name, label.result_attr, label.skill_result{
    text-align: center;
}

.attr_name {
    color: white;
    background-color: black;
}

.attr_corner{
    opacity: 0;
}

input.attr_input, label.result_attr {
    border: None;
}

.skill_name, .skill_check_box {
    display: inline-block;
    align-content: normal;
    width: 20%;
}

.skill_check_box {
    width: 5%;
}

.skill_line {
    width: 100%;
    horiz-align: center;
    border: 2px solid black;
    padding-bottom: 2px;
    padding-top: 2px;
}

.skill_result{
    width: 12.8%;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    border: 2px solid black;
}

label.skill_attr_name{
    width: 10%;
    height: 100%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    border: None;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}



.skill_mod {
    text-align: center;
    width: 12.8%;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    border: 2px solid black;
}

.skill_content {
    width: 10%;
    height: 100%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    border: 2px solid black;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}

input.skill_input {
    border: None;
}

input.skill_input_alt {
    width: 60%;
    border: None;
}

.skill_line_head {
    color: white;
    background-color: black;
    border: solid black;
    text-align: center;
}


